[Desktop Entry]
Name=Sync-my-Moodle
Comment=Sync-my-Moodle — Moodle synchronisation tool
Comment[de]=Sync-my-Moodle – Synchronsiert deine Dokumente aus Moodle mit deinem Rechner
Exec=Sync-my-Moodle
Icon=sync-my-Moodle
Terminal=false
Type=Application
Categories=Qt;FileTransfer;Network;
